extends layout.pug
block header
  .header.text
    .upper
      h1.title
        | kkiro.kr Video Library
      if authorized
        a.logout(href='/logout')= 'Logout'
    if breadcrumbs != null
      ul.breadcrumb.list-strip
        for crumb, index in breadcrumbs
          li
            a(href=crumb.sliced)
              = crumb.name
              if index === 0
                span.slash= '/'
