extends layout.pug
block header
  .header.text
    .upper
      h1.title
        | kkiro.kr Video Library
      a.logout(href='/logout')= 'Logout'
    .breadcrumb
      for crumb, index in breadcrumbs
        a(href=crumb.sliced)
          = crumb.name
          if index === 0
            span.slash= '/'
