doctype html
html
  head
    title kkiro.kr Library
    link(rel='stylesheet' type='text/css' href='/assets/index.css')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1')
    block meta
  body
    #container
      block header
      #content
        block content
