html, body {
  padding: 0;
  margin: 0;
  background: #ebebed;
  color: #303033;
  font-family: 나눔바른고딕,나눔고딕,NanumGothic,맑은 고딕,
    돋움,Dotum,Arial,Helvetica,sans-serif;
}

a {
  color: #086ca4;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:visited {
  color: #6408a4;
}

#container {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 .5em;
}

.dialog {
  background-color: #f8f8f8;
  border: 1px solid #c8c8cb;
  padding: 0.2em;
  border-radius: 2px;
  max-width: 100vw;
  box-sizing: border-box;
  max-width: 22rem;
  margin: 2em auto 0;
}
.dialog > .title {
  color: #de7504;
  margin: 0;
  padding: 0.5em 1em;
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 1px solid #de7504;
}
.dialog > .content {
  margin: 1em 2em;
}
.dialog > .content > .controls {
  margin-top: 1em;
}

.form-error {
  padding: 0.5em;
  border-radius: 2px;
  margin: 0.1em 0;
  color: #fdcfcf;
  background-color: #a60606;
  font-size: 0.9em;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
input[type='text'], input[type='password'] {
  font-size: 1em;
  background-color: #fff;
  color: #303033;
  padding: 0.5em 0.6em;
  margin: 0.2em 0;
  border-radius: 2px;
  border: 1px solid #c8c8cb;
}
input[type='text']:hover, input[type='password']:hover {
  border-color: #9f9fa3;
}
input[type='text']:focus, input[type='password']:focus,
input[type='text']:active, input[type='password']:active {
  border-color: #4eb6f2;
}
input[type='button'], input[type='submit'] {
  font-size: 1em;
  background-color: #0f8bd2;
  color: #f8f8f8;
  padding: 0.5em 1.9em;
  margin: 0.2em 0;
  border: none;
  border-radius: 2px;
  cursor: default;
  vertical-align: middle;
}
input[type='button']:hover, input[type='submit']:hover,
input[type='button']:focus, input[type='submit']:focus {
  background-color: #21a4ef;
}
input[type='button']:hover:active, input[type='submit']:hover:active {
  background-color: #086ca4;
}
input[type='button']:active, input[type='submit']:active {
  background-color: #0f8bd2;
}

.playback {
  width: 100%;
}

.header {
  padding: 0.5em 0;
}
.header .title {
  font-size: 1.2em;
  color: #31630f;
  float: left;
  margin: 0;
  line-height: 2rem;
  vertical-align: middle;
}
.header .logout {
  display: block;
  float: right;
  line-height: 2rem;
  vertical-align: middle;
  color: #086ca4;
}
.header .upper:after {
  content: '';
  display: block;
  clear: both;
}

.breadcrumb {
  display: inline-block;
}

.breadcrumb a {
  display: inline-block;
  color: #fff;
  background-color: #0f8bd2;
  padding: 0.5em;
  margin: 0.1em 0.2em;
  border: none;
  border-radius: 2px;
  vertical-align: middle;
}
.breadcrumb a:hover, .breadcrumb a:focus {
  background-color: #21a4ef;
}
.breadcrumb a:hover:active {
  background-color: #086ca4;
}
.breadcrumb a:active {
  background-color: #0f8bd2;
}

.listing {
  padding: 0;
  margin: 0 0 2em;
  list-style-type: none;
  border-radius: 3px;
  border: 1px solid #9f9fa3;
}

.listing li {
  padding: 0.5em 0.8em;
  border-top: 1px solid #c8c8cb;
  background-color: #ebebed;
}
.listing li:first-child {
  border-top-width: 0px;
  border-radius: 3px 3px 0 0;
}
.listing li:last-child {
  border-radius: 0 0 3px 3px;
}
.listing li:nth-child(2n) {
  background-color: #f8f8f8;
}

.listing li:after {
  content: '';
  display: block;
  clear: both;
}

.listing .metadata {
  float: right;
  font-size: 0.9em;
  color: #7e7e85;
}

.listing .subtitle:before {
  content: 'CC';
}
.listing .subtitle {
  border: 1px solid #7e7e85;
  border-radius: 3px;
  font-size: 0.7em;
  padding: 0.2em 0.3em;
}

.listing span {
  margin-right: 0.5em;
  line-height: 1.3rem;
  vertical-align: middle;
}
.listing span:last-child {
  margin: 0;
}
